<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#b21917">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/script.js"></script>
  </head>
  <body>
    <section class="page-header">
      <svg class="main-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 249.5 266.69">
        <defs>
            <style>
                .cls-1 {
                    opacity: 0.1;
                }
                
                .cls-2 {
                  fill: gray;
                }
                .cls-3 {
                    fill: url(#Unbenannter_Verlauf_27);
                }
                .cls-4 {
                    fill: url(#Unbenannter_Verlauf_27-2);
                }
                .cls-5 {
                    fill: #fff;
                }
            </style>
            <linearGradient id="Unbenannter_Verlauf_27" x1="134.59" y1="108.47" x2="60.93" y2="151" gradientTransform="matrix(-1, 0, 0, 1, 271.87, 0.47)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#fff" stop-opacity="0" />
                <stop offset="1" stop-color="#fff" stop-opacity="0.2" />
            </linearGradient>
            <linearGradient id="Unbenannter_Verlauf_27-2" x1="111.72" y1="108.94" x2="38.06" y2="151.47" gradientTransform="matrix(1, 0, 0, 1, 0, 0)" xlink:href="#Unbenannter_Verlauf_27" />
        </defs>
        <title>logo</title>
        <g id="Omega">
            <path class="cls-1" d="M249.5,237.81H152.67l4.1-36.39q24.08-7.69,35.44-21.91t11.36-39.91q0-35.48-22.63-54.46t-57-19q-33.13,0-56,19.24T45.08,137.77q0,26.09,11.7,41.61t35.26,22l4.27,36.39H0V201.42H6q.51,8,5.46,10.83,7.68,4.57,23.4,4.57H80.95v-9.13q-35.86-8-55.42-27.26T6,134.9Q6,102,37.83,79.46T124,56.89q33.3,0,61.22,9.59t43,28q15.11,18.39,15.11,40.44,0,27-20.75,47t-54.22,25.76L167,216.81h47q15.71,0,21.86-3.65T243,201.42h6.49Z" transform="translate(0 0.47)" />
        </g>
        <g id="Tools">
            <path d="M218.71-.45c-.25-.4,1.22,4.52.53,9-4.52,29.21-16.95,17.88-33.17,33.51-12.62,12.17-8.7,22.79-1.88,28.93-13.37,19.1-30.86,46.85-49,78.31C100,210.3,75.52,262.14,80.6,265.07s37.76-44.14,73-105.15c18.4-31.87,33.85-61.23,43.69-82.43,6.95,1.42,14.26-.33,20-9.09C238.49,35.8,222.63,5.84,218.71-.45Z" transform="translate(0 0.47)" />
            <path d="M86.8,28.27C82.12,18.43,74.77,8.15,66.13,2l3.69,35.94a6.84,6.84,0,0,1-6.09,7.48L50.17,46.81a6.84,6.84,0,0,1-7.48-6.09L38.51,0V0C21.61,10.69,11.43,42.52,19.78,60.1A37.11,37.11,0,0,0,57.93,81l.14.29,75.85,172.37c4.85,10.21,15.67,15.2,24.18,11.16s11.47-15.59,6.62-25.79L79,71.34,78.89,71A37.11,37.11,0,0,0,86.8,28.27Zm68.64,231a11.93,11.93,0,1,1,5.15-15.64A11.65,11.65,0,0,1,155.44,259.24Z" transform="translate(0 0.47)" />
        </g>
        <g id="Controller">
            <path class="cls-2" d="M177.13,213.32a28.36,28.36,0,0,0,53.21-18l-14.4-73.78a42.53,42.53,0,0,0-73.43-20.37l-35.9,0a42.53,42.53,0,0,0-73.5,20.3l-14.4,73.78a28.35,28.35,0,0,0,53.24,17.91l18.69-33.35a14.17,14.17,0,0,1,12.61-7.7h42.49a14.17,14.17,0,0,1,12.49,7.47Z" transform="translate(0 0.47)" />
            <circle class="cls-3" cx="174.11" cy="130.21" r="42.52" />
            <circle class="cls-4" cx="74.89" cy="130.21" r="42.52" />
            <circle class="cls-5" cx="174.11" cy="150.25" r="9.92" />
            <circle class="cls-5" cx="174.11" cy="110.16" r="9.92" />
            <circle class="cls-5" cx="154.06" cy="130.21" r="9.92" />
            <circle class="cls-5" cx="194.15" cy="130.21" r="9.92" />
            <circle class="cls-5" cx="74.89" cy="130.21" r="28.35" />
        </g>
    </svg>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
